<div class="min-h-screen flex items-center justify-center bg-[#F4EBD0]" [ngClass]="{'bg-[#F4EBD0]': !loginForm.value.role, 'bg-[#000000]': loginForm.value.role}">
  <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
    <h1 class="font-bold text-center text-2xl mb-5" [ngClass]="{'text-[#3B2F2F]': !loginForm.value.role, 'text-[#FFFFFF]': loginForm.value.role}">Login</h1>
    <div class="bg-white shadow w-full rounded-lg divide-y" [ngClass]="{'divide-[#8B5E3B]': !loginForm.value.role, 'divide-[#FFFFFF]': loginForm.value.role}">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="px-5 py-7">
          <label class="font-semibold text-sm" [ngClass]="{'text-[#3B2F2F]': !loginForm.value.role, 'text-[#000000]': loginForm.value.role}" pb-1 block>E-mail</label>
          <input type="email" formControlName="email" class="border-[#8B5E3B] rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" placeholder="Enter your email" />
          
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-500 text-xs">
            Please enter a valid email.
          </div>
          <div class="flex items-center mb-5">
            <label class="font-semibold text-sm" [ngClass]="{'text-[#3B2F2F]': !loginForm.value.role, 'text-[#000000]': loginForm.value.role}" pb-1 mr-3>Role:</label>
            <div class="relative inline-flex items-center cursor-pointer">
              <input type="checkbox" formControlName="role" id="role-toggle" class="sr-only" />
              <label for="role-toggle" class="flex items-center cursor-pointer rounded-full w-16 h-8" [ngClass]="{'bg-[#E0C6A8]': !loginForm.value.role, 'bg-[#000000]': loginForm.value.role}">
                <span class="absolute left-1 w-6 h-6 rounded-full" [ngClass]="{'bg-[#8B5E3B] translate-x-8': !loginForm.value.role, 'bg-[#FFFFFF]': loginForm.value.role}"></span>
              </label>
              <span class="ml-2 text-sm" [ngClass]="{'text-[#3B2F2F]': !loginForm.value.role, 'text-[#000000]': loginForm.value.role}">{{ loginForm.value.role ? 'HR' : 'Candidate' }}</span>
            </div>
          </div>

          <button 
          type="submit" 
          [disabled]="loading || loginForm.invalid" 
          [ngClass]="{
            'bg-[#8B5E3B] hover:bg-[#6F4730]': !loginForm.value.role && !loading, 
            'bg-[#000000] hover:bg-[#333333]': loginForm.value.role && !loading, 
            'bg-gray-400': loading
          }" 
          class="transition duration-200 focus:ring-4 focus:ring-[#D9C2A6] focus:ring-opacity-50 text-[#F4EBD0] w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
          
          <span class="inline-block mr-2">
            {{ loading ? 'Logging in...' : 'Login' }}
          </span>
          
          <svg *ngIf="!loading" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 inline-block">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
          </svg>
        
          <svg *ngIf="loading" class="animate-spin w-4 h-4 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4l4-4-4-4v4a8 8 0 11-8 8z"></path>
          </svg>
          
        </button>
        </div>
      </form>
    </div>
  </div>
</div>