<div class="flex flex-col h-screen bg-gray-50">
  <nav class="bg-white shadow-md py-4 px-6 flex justify-center items-center">
    <h1 class="text-xl font-semibold text-gray-900">AI Talent Acquisition</h1>
  </nav>
  <div class="flex-1 overflow-y-auto p-6 space-y-4">
    <app-chat-messages
      class="flex-1 overflow-y-auto"
      [chatHistory]="(chatHistory$ | async) || []"
      [loading]="loading"
    ></app-chat-messages>
  </div>
  <div
    class="p-4 bg-white shadow-md flex items-center gap-4 sticky bottom-0 w-full"
  >
    <app-chat-input
      class="flex-1"
      (messageSend)="sendMessage($event)"
    ></app-chat-input>
  </div>
</div>
