<div class="min-h-screen flex flex-col bg-[#F4EBD0] text-[#3B2F2F]">
  <nav class="px-6 py-4 bg-[#8B5E3B] shadow">
    <div class="container flex flex-col mx-auto md:flex-row md:items-center md:justify-between">
      <div class="flex items-center justify-between w-full">
        <a href="#" class="text-xl font-bold text-[#F4EBD0] md:text-2xl font-mono">Talent Candidate</a>
        <div class="flex items-center space-x-4 ml-auto">
          <button (click)="logout()" type="button" class="transition duration-200 bg-[#D9C2A6] hover:bg-[#6F4730] focus:bg-[#6F4730] focus:ring-4 focus:ring-[#D9C2A6] focus:ring-opacity-50 text-[#3B2F2F] py-2 px-4 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold">
            Logout
          </button>
        </div>
      </div>
    </div>
  </nav>

  <div class="px-6 py-8 flex-grow flex flex-col">
    <div class="container mx-auto w-full flex flex-col items-center">
      <h1 class="text-xl font-bold text-[#3B2F2F] md:text-2xl font-mono">Jobs</h1>

      <div *ngIf="jobs.length > 0; else noJobs">
        <div class="mt-6 w-full max-w-4xl" *ngFor="let job of jobs">
          <div class="px-10 py-6 bg-[#D9C2A6] rounded-lg shadow-md border border-[#8B5E3B]">
            <div class="flex items-center justify-between">
              <span class="font-light text-[#3B2F2F]">Posted on: Feb 25, 2025</span>
              <span class="px-2 py-1 font-bold text-[#F4EBD0] bg-[#8B5E3B] rounded hover:bg-[#6F4730]">
                {{ job.title }}
              </span>
            </div>

            <div class="mt-2">
              <a href="#" class="text-2xl font-bold text-[#3B2F2F] hover:underline font-mono">
                {{ job.company }} - {{ job.location }}
              </a>
              <p class="mt-2 text-[#3B2F2F]">
                {{ job.description }}
              </p>
            </div>

            <div class="mt-4">
              <strong>Requirements:</strong>
              <ul class="list-disc ml-5 text-[#3B2F2F]">
                <li *ngFor="let requirement of job.requirements">
                  {{ requirement }}
                </li>
              </ul>
            </div>

            <div class="flex items-center justify-between mt-4">
              <button
              *ngIf="!job.attended"
              (click)="attendInterview(job.id)"
              class="font-bold bg-[#8B5E3B] text-[#F4EBD0] rounded-md px-2 hover:bg-[#6F4730]"
            >
              Attend Interview
            </button>
            
            <span
              *ngIf="job.attended"
              class="font-bold text-[#3B2F2F] bg-[#F4EBD0] rounded-md px-2"
            >
              Attended
            </span>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noJobs>
        <div class="flex-grow flex items-center justify-center">
          <p class="text-2xl font-bold text-[#8B5E3B]">No jobs available</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>